body{
    background-color: teal;
    /* background-image:url("../img/01s.jpg");  */
    background-repeat: no-repeat;
    background-size:cover;
    width:100%;
    height:100%;
    margin:0;
}

header{
    background:white;
    height:70px;
    width:100%;
    position:sticky;
    clear:both;
    top:0;
    z-index:99;
}

#logo{
    position: relative;
}

nav{
    float:right;
    position: sticky;
    padding-right:15px;
}

ul{
    list-style-type: none;    
}

a[href="#"]{
    float:right;   
}

li{
    display:inline;
    padding-left:20px; 
}

nav, a[href="#"], #logo{
    top: 50%;
    transform: translateY(-50%);
}

section{
    display:block;
    background-color: black;
    opacity: 80%;
    margin:5px 200px 0 200px;
    padding:40px;
}

h1{
    display:none;
}
#article-list{

}
article{

}